{:objects
 {:file
  {:fields {:name {:type String}}}

  :folder
  {:fields {:path {:type String}
            :name {:type String}
            :files {:type (list :file)
                    :resolve :resolve-file}
            :folders {:type (list :folder)
                      :resolve :resolve-folder}}}}

 :queries
 {:ls
  {:type :folder
   :args {:path {:type String}}
   :resolve :resolve-ls}}}
